<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->

        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-3">
              <label>First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>E-Mail</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- shipping address form group -->

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-3">
              <label>Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Germany</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Berlin</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- add check box to copy shipping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span> Billing Address same as Shipping
            Address
          </label>
        </div>

        <!-- billing address form group -->

        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-3">
              <label>Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Germany</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Berlin</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->

        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-3">
              <label>Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Name on Card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear">
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                  <option>2028</option>
                  <option>2029</option>
                  <option>2030</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
